@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;800&display=swap');

:root {
    --white: #fff;
    --black: #000;
    --light-grey: #f2f7fa;
    --light-blue: #394867;
    --navy-blue: #212a3e;
    --grey: #9BA4B5
}

html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* ========     NAV SECTION     ======== */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--navy-blue);
    color: var(--light-grey);
    letter-spacing: 0.1rem;
    font-weight: 400;
}

.nav-links ul {
    display: flex;
    justify-content: space-evenly;
}
.nav-links li {
    list-style: none;
}
.nav-links a {
    padding: 20px;
    text-decoration: none;
    color: var(--light-grey);
    transition: .5s;
}

.nav-links a:hover{
    color: var(--grey);
}


/* ========     HEADER SECTION     ======== */
header {
    display: flex;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
}

header div:first-child {
    width: 50%;
}
.top-line {
    font-size: 3rem;
    letter-spacing: 0.25rem;
    font-weight: 200;
    color: var(--grey);
}



header h1{
    display: block;
    font-weight: 200;
    font-size: 3rem;
    font-weight: 800;
    color: var(--light-blue);
}

.multi-text{
    color: var(--grey);
    text-transform: capitalize;
}

header p {
    font-size: 1.3rem;
    color: var(--light-blue);
    font-weight: 200;
}

.btns {
    position: relative;
    left: 4vw;
}
.btns a {
    color: var(--white);
    text-decoration: none;
}

header button {
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--white);
    background-color: var(--light-blue);
    padding: 0.8vw 1.5vw;
    margin: 1vw 1vw;
    letter-spacing: 0.2rem;
    text-transform: capitalize;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}

header button:hover {
    background-color: var(--grey);
}

.me {
        border-radius: 25% 25% 25% 25%;
        object-fit: cover;
        height: 450px;
        width: 450px;
}

/* ========     ABOUT ME SECTION     ======== */

#about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5vw 10vw;
    background-color: var(--light-grey);
    margin: 0;
    padding: 2vw;
    height: 55vh;
}
.my-info {
    display: flex;
    gap: 5vw;
}

.my-info h2 {
    color: var(--light-blue);
    font-size: 2rem;
    font-weight: 600;
}
.my-info div {
    font-weight: 500;
    width: 40vw;
}

.my-info hr {
    height: 10vw;
    margin: 8% 0;
    border: none;
    border-right: 0.4vw dotted var(--light-blue) ;
}

.profile-pic {
    border-radius: 50%;
    object-fit: cover;
    height: 350px;
    width: 350px;
}

/* ========     PROJECTS SECTION     ======== */
#projects {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 2vw;
}

#projects h2 {
    font-size: 2rem;
    font-weight: 600;
}
.project-ex {
    display: flex;
    gap: 1.5vw;
}


.project-ex div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-ex div a {
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--navy-blue);
    transition: 0.2s;
}
.project-ex div a:hover {
    color: var(--grey);
}

.project-ex div img {
    width: 31vw;
    transition: 0.4s;
}
.project-ex div img:hover {
    transform: scale(1.1);
}

.project-ex div p {
    width: 25vw;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 200;
}
/* ========     CONTACT SECTION     ======== */
#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--light-grey);
    gap: 4vh;
    
}
#contact h2 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--navy-blue);
    
}

#contact form {
    display: flex;
    flex-direction: column;
    width: 25vw;
    gap: 2vh;
    margin-bottom: 5vh;
}
#contact input, textarea {
    border: none;
    border-radius: 5px;
    background-color: var(--grey);
    font-size: 1.3rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    padding: 1vh;
    color: var(--light-grey);
}

#contact button {
    border: 1px solid var(--navy-blue);
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    padding: 0.5vh;
    background-color: var(--white);
    color: var(--navy-blue);
    transition: .3s;
}

#contact button:hover {
    color: var(--white);
    background-color: var(--navy-blue);
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 1.5vh;

}
::placeholder {
    color: var(--light-grey);
    font-weight: 200;
}
/* ========     FOOTER SECTION     ======== */
footer p {
    background-color: var(--navy-blue);
    color: var(--light-grey);
    text-align: center;
    font-weight: 200;
    margin: 0;
}